#test1{
    width: 600px;
    margin-top: 20px;
    margin-left: 760px;
}

#addEventDiv{
    height: auto;
    background-color: pink;
}

.middleText{
    text-align: center;
}

.to{
    max-width: 40px;
}