<!DOCTYPE html>
<html>

<head>
    <title>TrackOpp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</head>

<body id="body">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/assets/save.png" alt="" width="30" height="24">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">

                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">TrackOpp|Oppurtunity for all by the
                            all</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            GoTo
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/">HomePage</a></li>
                            <li><a class="dropdown-item" href="/addEvent">Add Event Page</a></li>
                            <li><a class="dropdown-item" href="/myProfile">MyProfile</a></li>
                        </ul>
                    </li>
                </ul>
                <a class="btn btn-outline-success" href="/logSign">LogIn/SignUp</a>
            </div>
        </div>
    </nav>

    <div id="test1">

        <div id="featuredTab">

            <div id="featureTabHedingDiv">
                <h4>
                    Featured Tab
                </h4>
            </div>

            <div id="tileTabDiv">

                <div class="indiTile">
                    <div class="tileLogoDiv">
                        <img src="/assets/check.png" height="20px" width="20px" style="float: left; margin-top: 5px;">
                        <img src="/assets/Harvard.png" height="30px" width="30px">
                        <img src="/assets/calendar.png" height="20px" width="20px"
                            style="float: right; margin-top: 5px;">
                    </div>
                    <div class="tileTitleDiv">
                        Hack Harvard
                        <br>
                        by
                        <br>
                        Harvard University
                    </div>
                    <div class="tilePeriodDiv">
                        <div class="indiPeriodDiv1">
                            Applications Period:Open<br>
                            20/04/2020 - 24/04/2020
                        </div>
                        <div class="indiPeriodDiv2">
                            Event Period: Not Started Yet
                            <br>
                            30/04/2020 - 1/05/2020
                        </div>
                    </div>
                    <div class="tileProofDiv">
                        <div class="proofButtonDiv">
                            <button class="badge btn-primary" style="margin-top:5px; margin-bottom: 5px;">Proof</button>
                        </div>
                    </div>
                    <div class="tileVoteDiv">
                        <button class="realButton badge bg-success">Real</button>
                        <button class="fakeButton badge bg-danger">Fake</button>
                    </div>
                    <div class="tileImprovementDiv">
                        <button class="imrpoveButton badge bg-warning">Need improvement</button>
                    </div>
                    <div class="tilePostedbyDiv">
                        Posted by <a href="/" style="text-decoration: none;">@User1</a>
                    </div>
                </div>

                <div class="indiTile">
                    <div class="tileLogoDiv">
                        <img src="/assets/check.png" height="20px" width="20px" style="float: left; margin-top: 5px;">
                        <img src="/assets/Harvard.png" height="30px" width="30px">
                        <img src="/assets/calendar.png" height="20px" width="20px"
                            style="float: right; margin-top: 5px;">
                    </div>
                    <div class="tileTitleDiv">
                        Hack Harvard
                        <br>
                        by
                        <br>
                        Harvard University
                    </div>
                    <div class="tilePeriodDiv">
                        <div class="indiPeriodDiv1">
                            Applications Period:Open<br>
                            20/04/2020 - 24/04/2020
                        </div>
                        <div class="indiPeriodDiv2">
                            Event Period: Not Started Yet
                            <br>
                            30/04/2020 - 1/05/2020
                        </div>
                    </div>
                    <div class="tileProofDiv">
                        <div class="proofButtonDiv">
                            <button class="badge btn-primary" style="margin-top:5px; margin-bottom: 5px;">Proof</button>
                        </div>
                    </div>
                    <div class="tileVoteDiv">
                        <button class="realButton badge bg-success">Real</button>
                        <button class="fakeButton badge bg-danger">Fake</button>
                    </div>
                    <div class="tileImprovementDiv">
                        <button class="imrpoveButton badge bg-warning">Need improvement</button>
                    </div>
                    <div class="tilePostedbyDiv">
                        Posted by <a href="/" style="text-decoration: none;">@User1</a>
                    </div>
                </div>

                <div class="indiTile">
                    <div class="tileLogoDiv">
                        <img src="/assets/check.png" height="20px" width="20px" style="float: left; margin-top: 5px;">
                        <img src="/assets/Harvard.png" height="30px" width="30px">
                        <img src="/assets/calendar.png" height="20px" width="20px"
                            style="float: right; margin-top: 5px;">
                    </div>
                    <div class="tileTitleDiv">
                        Hack Harvard
                        <br>
                        by
                        <br>
                        Harvard University
                    </div>
                    <div class="tilePeriodDiv">
                        <div class="indiPeriodDiv1">
                            Applications Period:Open<br>
                            20/04/2020 - 24/04/2020
                        </div>
                        <div class="indiPeriodDiv2">
                            Event Period: Not Started Yet
                            <br>
                            30/04/2020 - 1/05/2020
                        </div>
                    </div>
                    <div class="tileProofDiv">
                        <div class="proofButtonDiv">
                            <button class="badge btn-primary" style="margin-top:5px; margin-bottom: 5px;">Proof</button>
                        </div>
                    </div>
                    <div class="tileVoteDiv">
                        <button class="realButton badge bg-success">Real</button>
                        <button class="fakeButton badge bg-danger">Fake</button>
                    </div>
                    <div class="tileImprovementDiv">
                        <button class="imrpoveButton badge bg-warning">Need improvement</button>
                    </div>
                    <div class="tilePostedbyDiv">
                        Posted by <a href="/" style="text-decoration: none;">@User1</a>
                    </div>
                </div>

                <div class="indiTile">
                    <div class="tileLogoDiv">
                        <img src="/assets/check.png" height="20px" width="20px" style="float: left; margin-top: 5px;">
                        <img src="/assets/Harvard.png" height="30px" width="30px">
                        <img src="/assets/calendar.png" height="20px" width="20px"
                            style="float: right; margin-top: 5px;">
                    </div>
                    <div class="tileTitleDiv">
                        Hack Harvard
                        <br>
                        by
                        <br>
                        Harvard University
                    </div>
                    <div class="tilePeriodDiv">
                        <div class="indiPeriodDiv1">
                            Applications Period:Open<br>
                            20/04/2020 - 24/04/2020
                        </div>
                        <div class="indiPeriodDiv2">
                            Event Period: Not Started Yet
                            <br>
                            30/04/2020 - 1/05/2020
                        </div>
                    </div>
                    <div class="tileProofDiv">
                        <div class="proofButtonDiv">
                            <button class="badge btn-primary" style="margin-top:5px; margin-bottom: 5px;">Proof</button>
                        </div>
                    </div>
                    <div class="tileVoteDiv">
                        <button class="realButton badge bg-success">Real</button>
                        <button class="fakeButton badge bg-danger">Fake</button>
                    </div>
                    <div class="tileImprovementDiv">
                        <button class="imrpoveButton badge bg-warning">Need improvement</button>
                    </div>
                    <div class="tilePostedbyDiv">
                        Posted by <a href="/" style="text-decoration: none;">@User1</a>
                    </div>
                </div>


            </div>

        </div>

        </br>

        <div id="navbar2Div">

            <div id="serverQueryDiv">

                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon">
                            </span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="ulListID">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        Category
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item">Hackathon</a></li>
                                        <li><a class="dropdown-item">Internship</a></li>
                                        <li><a class="dropdown-item">Fellowship</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <form action="/action_page.php">
                                        <label for="birthday">From:</label>
                                        <input type="date" id="birthday" name="birthday">
                                    </form>
                                </li>
                                <li>
                                    <form action="/action_page.php">
                                        <label for="birthday">To:</label>
                                        <input type="date" id="birthday" name="birthday">
                                    </form>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        Eligibility
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item">High School Students</a></li>
                                        <li><a class="dropdown-item">Collage Students</a></li>
                                        <li><a class="dropdown-item">Open to All</a></li>
                                    </ul>
                                </li>
                                <form class="d-flex">
                                    <button class="btn btn-outline-success" type="submit">Go</button>
                                </form>
                            </ul>
                        </div>
                    </div>
                </nav>

            </div>

            <div id="eventScheduleDiv">
                <button class="eventTypeButton badge bg-warning">Sponsored</button>
                <button class="badge bg-warning">Upcoming Event</button>
                <button class="badge bg-warning">Past Event</button>
                <button class="applicationPeriodType badge bg-warning" id="appOpenButton">Application Open</button>
                <button class="applicationPeriodType badge bg-warning">Application Closed</button>
            </div>

        </div>

        <div id="featuredTab">

            <div id="featureTabHedingDiv">
                <h4>
                    Upcoming Events with Applications Opens
                </h4>
            </div>

            <div id="tileTabDiv">

                <div class="indiTile">
                    <div class="tileLogoDiv">
                        <img src="/assets/check.png" height="20px" width="20px" style="float: left; margin-top: 5px;">
                        <img src="/assets/harvard.png" height="30px" width="30px">
                        <img src="/assets/calendar.png" height="20px" width="20px"
                            style="float: right; margin-top: 5px;">
                    </div>
                    <div class="tileTitleDiv">
                        Hack Harvard
                        <br>
                        by
                        <br>
                        Harvard University
                    </div>
                    <div class="tilePeriodDiv">
                        <div class="indiPeriodDiv1">
                            Applications Period:Open<br>
                            20/04/2020 - 24/04/2020
                        </div>
                        <div class="indiPeriodDiv2">
                            Event Period: Not Started Yet
                            <br>
                            30/04/2020 - 1/05/2020
                        </div>
                    </div>
                    <div class="tileProofDiv">
                        <div class="proofButtonDiv">
                            <button class="badge btn-primary" style="margin-top:5px; margin-bottom: 5px;">Proof</button>
                        </div>
                    </div>
                    <div class="tileVoteDiv">
                        <button class="realButton badge bg-success">Real</button>
                        <button class="fakeButton badge bg-danger">Fake</button>
                    </div>
                    <div class="tileImprovementDiv">
                        <button class="imrpoveButton badge bg-warning">Need improvement</button>
                    </div>
                    <div class="tilePostedbyDiv">
                        Posted by <a href="/" style="text-decoration: none;">@User1</a>
                    </div>
                </div>

                <div class="indiTile">
                    <div class="tileLogoDiv">
                        <img src="/assets/check.png" height="20px" width="20px" style="float: left; margin-top: 5px;">
                        <img src="/assets/Harvard.png" height="30px" width="30px">
                        <img src="/assets/calendar.png" height="20px" width="20px"
                            style="float: right; margin-top: 5px;">
                    </div>
                    <div class="tileTitleDiv">
                        Hack Harvard
                        <br>
                        by
                        <br>
                        Harvard University
                    </div>
                    <div class="tilePeriodDiv">
                        <div class="indiPeriodDiv1">
                            Applications Period:Open<br>
                            20/04/2020 - 24/04/2020
                        </div>
                        <div class="indiPeriodDiv2">
                            Event Period: Not Started Yet
                            <br>
                            30/04/2020 - 1/05/2020
                        </div>
                    </div>
                    <div class="tileProofDiv">
                        <div class="proofButtonDiv">
                            <button class="badge btn-primary" style="margin-top:5px; margin-bottom: 5px;">Proof</button>
                        </div>
                    </div>
                    <div class="tileVoteDiv">
                        <button class="realButton badge bg-success">Real</button>
                        <button class="fakeButton badge bg-danger">Fake</button>
                    </div>
                    <div class="tileImprovementDiv">
                        <button class="imrpoveButton badge bg-warning">Need improvement</button>
                    </div>
                    <div class="tilePostedbyDiv">
                        Posted by <a href="/" style="text-decoration: none;">@User1</a>
                    </div>
                </div>

                <div class="indiTile">
                    <div class="tileLogoDiv">
                        <img src="/assets/check.png" height="20px" width="20px" style="float: left; margin-top: 5px;">
                        <img src="/assets/Harvard.png" height="30px" width="30px">
                        <img src="/assets/calendar.png" height="20px" width="20px"
                            style="float: right; margin-top: 5px;">
                    </div>
                    <div class="tileTitleDiv">
                        Hack Harvard
                        <br>
                        by
                        <br>
                        Harvard University
                    </div>
                    <div class="tilePeriodDiv">
                        <div class="indiPeriodDiv1">
                            Applications Period:Open<br>
                            20/04/2020 - 24/04/2020
                        </div>
                        <div class="indiPeriodDiv2">
                            Event Period: Not Started Yet
                            <br>
                            30/04/2020 - 1/05/2020
                        </div>
                    </div>
                    <div class="tileProofDiv">
                        <div class="proofButtonDiv">
                            <button class="badge btn-primary" style="margin-top:5px; margin-bottom: 5px;">Proof</button>
                        </div>
                    </div>
                    <div class="tileVoteDiv">
                        <button class="realButton badge bg-success">Real</button>
                        <button class="fakeButton badge bg-danger">Fake</button>
                    </div>
                    <div class="tileImprovementDiv">
                        <button class="imrpoveButton badge bg-warning">Need improvement</button>
                    </div>
                    <div class="tilePostedbyDiv">
                        Posted by <a href="/" style="text-decoration: none;">@User1</a>
                    </div>
                </div>

                <div class="indiTile">
                    <div class="tileLogoDiv">
                        <img src="/assets/check.png" height="20px" width="20px" style="float: left; margin-top: 5px;">
                        <img src="/assets/Harvard.png" height="30px" width="30px">
                        <img src="/assets/calendar.png" height="20px" width="20px"
                            style="float: right; margin-top: 5px;">
                    </div>
                    <div class="tileTitleDiv">
                        Hack Harvard
                        <br>
                        by
                        <br>
                        Harvard University
                    </div>
                    <div class="tilePeriodDiv">
                        <div class="indiPeriodDiv1">
                            Applications Period:Open<br>
                            20/04/2020 - 24/04/2020
                        </div>
                        <div class="indiPeriodDiv2">
                            Event Period: Not Started Yet
                            <br>
                            30/04/2020 - 1/05/2020
                        </div>
                    </div>
                    <div class="tileProofDiv">
                        <div class="proofButtonDiv">
                            <button class="badge btn-primary" style="margin-top:5px; margin-bottom: 5px;">Proof</button>
                        </div>
                    </div>
                    <div class="tileVoteDiv">
                        <button class="realButton badge bg-success">Real</button>
                        <button class="fakeButton badge bg-danger">Fake</button>
                    </div>
                    <div class="tileImprovementDiv">
                        <button class="imrpoveButton badge bg-warning">Need improvement</button>
                    </div>
                    <div class="tilePostedbyDiv">
                        Posted by <a href="/" style="text-decoration: none;">@User1</a>
                    </div>
                </div>


            </div>

        </div>

        <br>

        <div id="featuredTab">

            <div id="tileTabDiv">

                <div class="indiTile">
                    <div class="tileLogoDiv">
                        <img src="/assets/check.png" height="20px" width="20px" style="float: left; margin-top: 5px;">
                        <img src="/assets/Harvard.png" height="30px" width="30px">
                        <img src="/assets/calendar.png" height="20px" width="20px"
                            style="float: right; margin-top: 5px;">
                    </div>
                    <div class="tileTitleDiv">
                        Hack Harvard
                        <br>
                        by
                        <br>
                        Harvard University
                    </div>
                    <div class="tilePeriodDiv">
                        <div class="indiPeriodDiv1">
                            Applications Period:Open<br>
                            20/04/2020 - 24/04/2020
                        </div>
                        <div class="indiPeriodDiv2">
                            Event Period: Not Started Yet
                            <br>
                            30/04/2020 - 1/05/2020
                        </div>
                    </div>
                    <div class="tileProofDiv">
                        <div class="proofButtonDiv">
                            <button class="badge btn-primary" style="margin-top:5px; margin-bottom: 5px;">Proof</button>
                        </div>
                    </div>
                    <div class="tileVoteDiv">
                        <button class="realButton badge bg-success">Real</button>
                        <button class="fakeButton badge bg-danger">Fake</button>
                    </div>
                    <div class="tileImprovementDiv">
                        <button class="imrpoveButton badge bg-warning">Need improvement</button>
                    </div>
                    <div class="tilePostedbyDiv">
                        Posted by <a href="/" style="text-decoration: none;">@User1</a>
                    </div>
                </div>

                <div class="indiTile">
                    <div class="tileLogoDiv">
                        <img src="/assets/check.png" height="20px" width="20px" style="float: left; margin-top: 5px;">
                        <img src="/assets/Harvard.png" height="30px" width="30px">
                        <img src="/assets/calendar.png" height="20px" width="20px"
                            style="float: right; margin-top: 5px;">
                    </div>
                    <div class="tileTitleDiv">
                        Hack Harvard
                        <br>
                        by
                        <br>
                        Harvard University
                    </div>
                    <div class="tilePeriodDiv">
                        <div class="indiPeriodDiv1">
                            Applications Period:Open<br>
                            20/04/2020 - 24/04/2020
                        </div>
                        <div class="indiPeriodDiv2">
                            Event Period: Not Started Yet
                            <br>
                            30/04/2020 - 1/05/2020
                        </div>
                    </div>
                    <div class="tileProofDiv">
                        <div class="proofButtonDiv">
                            <button class="badge btn-primary" style="margin-top:5px; margin-bottom: 5px;">Proof</button>
                        </div>
                    </div>
                    <div class="tileVoteDiv">
                        <button class="realButton badge bg-success">Real</button>
                        <button class="fakeButton badge bg-danger">Fake</button>
                    </div>
                    <div class="tileImprovementDiv">
                        <button class="imrpoveButton badge bg-warning">Need improvement</button>
                    </div>
                    <div class="tilePostedbyDiv">
                        Posted by <a href="/" style="text-decoration: none;">@User1</a>
                    </div>
                </div>

                <div class="indiTile">
                    <div class="tileLogoDiv">
                        <img src="/assets/check.png" height="20px" width="20px" style="float: left; margin-top: 5px;">
                        <img src="/assets/Harvard.png" height="30px" width="30px">
                        <img src="/assets/calendar.png" height="20px" width="20px"
                            style="float: right; margin-top: 5px;">
                    </div>
                    <div class="tileTitleDiv">
                        Hack Harvard
                        <br>
                        by
                        <br>
                        Harvard University
                    </div>
                    <div class="tilePeriodDiv">
                        <div class="indiPeriodDiv1">
                            Applications Period:Open<br>
                            20/04/2020 - 24/04/2020
                        </div>
                        <div class="indiPeriodDiv2">
                            Event Period: Not Started Yet
                            <br>
                            30/04/2020 - 1/05/2020
                        </div>
                    </div>
                    <div class="tileProofDiv">
                        <div class="proofButtonDiv">
                            <button class="badge btn-primary" style="margin-top:5px; margin-bottom: 5px;">Proof</button>
                        </div>
                    </div>
                    <div class="tileVoteDiv">
                        <button class="realButton badge bg-success">Real</button>
                        <button class="fakeButton badge bg-danger">Fake</button>
                    </div>
                    <div class="tileImprovementDiv">
                        <button class="imrpoveButton badge bg-warning">Need improvement</button>
                    </div>
                    <div class="tilePostedbyDiv">
                        Posted by <a href="/" style="text-decoration: none;">@User1</a>
                    </div>
                </div>

                <div class="indiTile">
                    <div class="tileLogoDiv">
                        <img src="/assets/check.png" height="20px" width="20px" style="float: left; margin-top: 5px;">
                        <img src="/assets/Harvard.png" height="30px" width="30px">
                        <img src="/assets/calendar.png" height="20px" width="20px"
                            style="float: right; margin-top: 5px;">
                    </div>
                    <div class="tileTitleDiv">
                        Hack Harvard
                        <br>
                        by
                        <br>
                        Harvard University
                    </div>
                    <div class="tilePeriodDiv">
                        <div class="indiPeriodDiv1">
                            Applications Period:Open<br>
                            20/04/2020 - 24/04/2020
                        </div>
                        <div class="indiPeriodDiv2">
                            Event Period: Not Started Yet
                            <br>
                            30/04/2020 - 1/05/2020
                        </div>
                    </div>
                    <div class="tileProofDiv">
                        <div class="proofButtonDiv">
                            <button class="badge btn-primary" style="margin-top:5px; margin-bottom: 5px;">Proof</button>
                        </div>
                    </div>
                    <div class="tileVoteDiv">
                        <button class="realButton badge bg-success">Real</button>
                        <button class="fakeButton badge bg-danger">Fake</button>
                    </div>
                    <div class="tileImprovementDiv">
                        <button class="imrpoveButton badge bg-warning">Need improvement</button>
                    </div>
                    <div class="tilePostedbyDiv">
                        Posted by <a href="/" style="text-decoration: none;">@User1</a>
                    </div>
                </div>


            </div>

        </div>

        <footer>
            Designed and Developed by @RajGM
        </footer>

    </div>
    <script src="/javaScript/indexpage.js"></script>
    <link rel="stylesheet" type="text/css" href="/cssFiles/indexpage.css" />
</body>

</html>